<section id="comments" class="mt-5">
  {% if post.comment_status == 'open' or post.comments %}
    <div class="comments-area">

      {% if post.comments %}
        <h3 class="mb-4">{{ post.get_comments|length }} Comment{{ post.get_comments|length > 1 ? 's' : '' }}</h3>

        <ul class="list-unstyled">
          {% for comment in post.get_comments %}
            <li id="comment-{{ comment.ID }}" class="mb-4 border-bottom pb-3">
              <div class="d-flex mb-2">
                <div class="me-3">
                  <img src="{{ comment.avatar }}" alt="{{ comment.author.name }}" class="rounded-circle" width="48" height="48">
                </div>
                <div>
                  <strong>{{ comment.author.name }}</strong>
                  <br>
                  <small class="text-muted">{{ comment.date }}</small>
                </div>
              </div>
              <div class="comment-content">
                {{ comment.comment_content }}
              </div>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      <div class="comment-form mt-4">
        {{ function('comment_form') }}
      </div>
    </div>
  {% endif %}
</section>
